<header>
  <h1>{{ title }}</h1>
</header>
<main>
  <!-- <router-outlet></router-outlet> -->
  <section>
    <ul>
      <li>
        Game type (1 player is default): {{ gameType }}
      </li>
      <li>
        Game state: {{ gameState }}
      </li>
      <li>
        Player 1 Name: {{ playerOneName }}
      </li>
      <li *ngIf="gameType == GameTypes.TwoPlayers">
        Player 2 Name: {{ playerTwoName }}
      </li>
      <li>
        Player 1 Choice: {{ hands.playerOne }}
      </li>
      <li>
        Player 2 Choice: {{ hands.playerTwo }}
      </li>
      
    </ul>
  </section>
  <section *ngIf="gameState == GameStates.New">
    <h2>Select game type:</h2>
    <ul>
      <li>
        <button (click)="selectGameType(GameTypes.OnePlayer)">1 Player</button>
      </li>
      <li>
        <button (click)="selectGameType(GameTypes.TwoPlayers)">2 Player</button>
      </li>
    </ul>
  </section>

  <section *ngIf="gameState == GameStates.Started">
    <h2>Enter {{ (gameType == GameTypes.OnePlayer) ? 'your name' : 'players names' }}</h2>
      <ul>
        <li>
          <label for="playerOneName">Player One Name</label>
          <input type="text" id="playerOneName"
                 [(ngModel)]="playerOneName" name="playerOneName">
        </li>
        <li *ngIf="gameType == GameTypes.TwoPlayers">
          <label for="playerTwoName">Player Two Name</label>
          <input type="text" id="playerTwoName"
                 [(ngModel)]="playerTwoName" name="playerTwoName">
        </li>
      </ul>
      <button (click)="play()">Play</button>
  </section>

  <section *ngIf="gameState == GameStates.Player1Turn || gameState == GameStates.Player2Turn">
    <h2>Make your choice {{ (gameState == GameStates.Player1Turn) ? playerOneName : playerTwoName }} </h2>
      <ul>
        <li>
          <button (click)="submitPlayerHand(PlayOptions.Rock)"> {{ PlayOptions.Rock }}</button>
        </li>
        <li>
          <button (click)="submitPlayerHand(PlayOptions.Paper)"> {{ PlayOptions.Paper }}</button>
        </li>
        <li>
          <button (click)="submitPlayerHand(PlayOptions.Scissors)"> {{ PlayOptions.Scissors }}</button>
        </li>
      </ul>
  </section>

  <section *ngIf="gameState == GameStates.EndOfRound">
    <ul>
      <li>
        {{ playerOneName }} Choice: {{ hands.playerOne }}
      </li>
      <li>
        {{ gameType == GameTypes.TwoPlayers ? playerTwoName : 'Computer' }} Choice: {{ hands.playerTwo }}
      </li>
    </ul>
    <h1 *ngIf="!winner">Tie</h1>
    <h1 *ngIf="winner == Players.PlayerOne"> {{ playerOneName }} wins!</h1>
    <h1 *ngIf="winner == Players.PlayerTwo"> {{ (gameType == GameTypes.TwoPlayers) ? playerTwoName : 'Computer' }} wins!</h1>
  </section>

</main>
<Footer>
  Copyright :)
</Footer>